@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(bg.png);
}

.main-container {
    display: none;
    position: absolute;
    bottom: 100px;
    right: 30px;
    width: 500px;
    height: 700px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.2s ease, transform 0.2s ease;
    animation: open .2s ease;
}

@keyframes open {
    0% {
        opacity: .3;
        transform: scale(0.3);
    }

    50% {
        opacity: .7;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Toggle up and down the chatbot */
#container-toggle-up {
    position: absolute;
    bottom: 20px;
    padding: 20px;
    background-color: #eebdbd;
    border-radius: 50px;
    right: 25px;
    cursor: pointer;
    border: none;
}

#container-toggle-down {
    cursor: pointer;
    border-radius: 50px;
    padding: 15px;
}

/* Header  */
.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-image: url(bg2.png);
    overflow: hidden;
}

.left-header {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 25px;

    svg {
        padding: 5px;
        background-color: #ff0000;
        fill: white;
        border-radius: 50px;
    }
}

.right-header {
    display: flex;
    align-items: center;

    button {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        font-size: 30px;
    }
}

/* Message input from user container  */
.message-box {
    width: 94%;
    display: flex;
    margin: 0 15px;
    justify-content: space-between;
    border: 1px solid #d4cece;
    border-radius: 30px;
    overflow: hidden;

    input {
        padding: 10px;
        width: 100%;
        border: none;
        outline: none;
    }

    .attachments {
        display: flex;
        gap: .5rem;

        button {
            background-color: rgba(255, 0, 0, 0);
            border: none;
            border-radius: 15px;
            font-size: 30px;
            cursor: pointer;
            padding: 5px;
        }

        button:hover {
            background-color: #dfd7f9;
        }
    }
}

#send {
    color: white;
    background-color: rgb(246, 39, 39);
    border-radius: 50px;
    padding: 3px;
    margin: 3px;
    display: none;
}

#send:hover {
    background-color: rgb(237, 129, 129);
}

.attachment-confirmed {
    width: fit-content;
    font-size: small;
    background-color: rgb(186, 129, 129);
    display: none;
    margin-bottom: 3px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 60px;
    left: 36%;
}

#file-cancel-btn {
    display: none;
    color: red;
}

.footer-container {
    height: 10px;
    position: relative;
}

em-emoji-picker {
    position: absolute;
    left: 16%;
    bottom: 25px;
    max-width: 350px;
    max-height: 355px;
    visibility: hidden;
}

body.show-emoji-picker em-emoji-picker {
    visibility: visible;
}


/* Chat area  */
.chat-body {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    gap: 10px;
    padding: 20px 15px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #a086f4 transparent;
    position: relative;
}

.message-text {
    padding: 10px;
    max-width: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.bot-message {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;

    img {
        width: 150px;
        height: 150px;
    }

    svg {
        padding: 5px;
        background-color: rgb(240, 18, 18);
        width: 40px;
        height: 40px;
        fill: white;
        border-radius: 50px;
    }
}

.user-message {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;

    img {
        width: 150px;
        height: 150px;
    }

    .message-text {
        width: fit-content;
        background-color: rgb(249, 198, 198);
        border-radius: 10px;
        border-bottom-right-radius: 0;
    }
}

.thinking-indicator {
    display: flex;
    height: 30px;
    align-items: center;
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    opacity: 0.8;
    margin: 2px;
    background-color: rgb(186, 129, 129);
    animation: dotPulse 1.5s ease-in-out infinite;
}

.dot:nth-child(1) {
    animation-delay: 0.4s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes dotPulse {

    0%,
    44% {
        transform: translateY(0);
    }

    27% {
        opacity: 0.4;
        transform: translateY(-8px);
    }

    44% {
        opacity: 0.3;
    }
}

.thinking {
    display: none;
}